<p-dialog header="Tab Configuration Chart Preview" id="previewTabConfigurationChartDialogId" (onHide)="cancelModal()"
    (onShow)="showModal()" [(visible)]="isVisiblePreviewModal" modal="true" [style]="{'width': '80%'}">
    <section class="row content">
        <!-- {{tabTableConfigDataPreview | json}} -->
        <div class="col-md-12">
            <div id="plotChartConfiguration">
            </div>
        </div>
    </section>
</p-dialog>
<ngx-spinner size="default" type="ball-spin-clockwise">
    <p style="color: white">Generating Preview... </p>
</ngx-spinner>