:host {
    border: 1px solid #333;
    border-radius: 35px;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    position: relative;
    width: 35px;
}

chrome-picker {
    left: 1%;
    position: absolute;
    top: -500%;
    z-index: 2;
}

.overlay {
    background: transparent;
    left: 0;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}