<p-toast styleClass="custom-toast" position="bottom-right"></p-toast>
<p-confirmDialog key="edit-deleteColumn" class="confirmDialog" [baseZIndex]="10000"></p-confirmDialog>
<p-confirmDialog key="edit-deleteRow" class="confirmDialog" [baseZIndex]="10000"></p-confirmDialog>

<form #tabTableConfigModalForm="ngForm">
    <p-dialog header="Template tab configuration table" id="tabTableConifgDialog"
        [contentStyle]="{'overflow-y': 'hidden', 'overflow-x': 'hidden'}" [(visible)]="isVisibleModal"
        (onHide)="cancelModal()" (onShow)="showModal()" modal="true" [style]="{'width': '95%'}">
        <div id="tblConfigNameDiv">
            <section class="row" [style]="{'margin-top':'0.4em'}">
                <div class="col-md-3">&nbsp;Table Configuration Name:</div>
                <div class="col-md-6">
                    <input pInputText type="text" id="tblConfigNameTxt"
                        [(ngModel)]="templateTabTableConfigurationModel.Name" name="txtTableConfigurationName"
                        placeholder="Enter Table Configuration Name">
                </div>
                <!-- <div class="col-md-3">
                    <button class="btn btn-primary" (click)="onUpdateTabTableConfiguration();">Update</button>
                </div> -->
            </section>
            <section class="row" id="mergeBtnSection">
                <button pButton pRipple type="button" label="Merge Cells" (click)="onMergeCell();"
                    class="p-button-raised p-button-info"></button>
                &nbsp; &nbsp;<button pButton pRipple type="button" label="Unmerge Cells" (click)="onUndoMergeCell()"
                    class="p-button-raised p-button-info"></button>
            </section>
        </div>
        <section class="row content">
            <div class="col-md-12" id="tabConfigurationTableDivId">
                <table id="tabConfigurationTableId">
                    <ng-template ngFor let-tabTableconfigRowData [ngForOf]="tabTableConfigData">
                        <tr>
                            <ng-container *ngFor="let item of tabTableconfigRowData.Columns;let i=index">
                                <td *ngIf="!item.IsDeleted" id="td{{tabTableconfigRowData.RowId}}{{i}}"
                                    colSpan="{{item.ColumnSpan}}" [attr.rowspan]="item.RowSpan"
                                    [attr.width]="item.ColumnWidth+'%'" class="{{item.TDSelectionCss}} columnPosition">
                                    <div id="tdCellSelection">
                                        <i *ngIf="tabTableconfigRowData.RowId > 1 && !item.ShowDeleteIcon && i<tabTableconfigRowData.Columns.length-1"
                                            id="editTableConfig" class="fa fa-check-circle fa-lg"
                                            (click)="onCellSelection(tabTableconfigRowData.RowId,i);"></i>
                                    </div>
                                    <div *ngIf="tabTableconfigRowData.RowId===0" style="text-align: center;">
                                        <div>
                                            <button class="btn" (click)="onDisplayColumnType(item.ColumnId,i);"
                                                style="border:2px solid green; border-radius:5px"><i
                                                    class="fa fa-plus btnPlus"></i></button>
                                            <button class="btn" *ngIf="i!=(tabTableconfigRowData.Columns.length-1)"
                                                (click)="onDeleteColumn(item.ColumnId);"
                                                style="border:2px solid red; border-radius:5px"><i
                                                    class="fa fa-close btnClose"></i></button>
                                        </div>
                                    </div>
                                    <div *ngIf="tabTableconfigRowData.RowId==1 && item.IsConfigHeader">
                                        <div><b>
                                                {{item.UserDefinedColumn}}</b>
                                        </div>
                                        <div *ngIf="i!=(tabTableconfigRowData.Columns.length-1)">Width :
                                            <input type="text" pInputText
                                                name="columnWidthTxt{{tabTableconfigRowData.RowId}}{{i}}"
                                                id="columnWidthTxt{{tabTableconfigRowData.RowId}}{{i}}"
                                                placeholder="Column Width in %" [(ngModel)]="item.ColumnWidth"
                                                (change)="onColumnWidthChange(i,item.ColumnWidth)" />%
                                        </div>
                                    </div>
                                    <div *ngIf="tabTableconfigRowData.RowId==2 && item.IsHeader">
                                        <div *ngIf="item.ColumnType>0">
                                            <input type="text" pInputText class="txtUserDefined"
                                                name="txtColumnHeader{{tabTableconfigRowData.RowId}}{{i}}"
                                                [(ngModel)]="item.UserDefinedColumn" placeholder="Column Header"
                                                (change)="onHeaderNameChange(tabTableconfigRowData.RowId,i,item.UserDefinedColumn);" />
                                        </div>
                                    </div>
                                    <div *ngIf="tabTableconfigRowData.RowId > 2">
                                        <!-- TestResult Column -->
                                        <div *ngIf="item.ColumnType===1" class="floatLeft">
                                            <p-dropdown placeholder="ATDPosition" class="ddlTestResultCol" filter="true"
                                                name="cmbATDPosition{{tabTableconfigRowData.RowId}}{{i}}"
                                                [options]="atdPositionDropdownDataList" [(ngModel)]="item.AtdPosition">
                                            </p-dropdown>
                                            <p-dropdown placeholder="Db Defined Values" id="cmbDbUserDefined"
                                                filter="true" name="cmbDbValue{{tabTableconfigRowData.RowId}}{{i}}"
                                                [options]="calculationsDropdownDataList" [(ngModel)]="item.DbColumn"
                                                (onChange)="onDbColumnValueChange(tabTableconfigRowData.RowId,i,item.DbColumn)">
                                            </p-dropdown>
                                            <p-dropdown placeholder="Value Type" class="ddlTestResultCol" filter="true"
                                                name="cmbValueType{{tabTableconfigRowData.RowId}}{{i}}"
                                                class="hideControl" [(ngModel)]="item.ValueType">
                                            </p-dropdown>
                                        </div>
                                        <!-- User Defined Column -->
                                        <div *ngIf="item.ColumnType===2">
                                            <input type="text" pInputText class="txtUserDefined"
                                                name="txtUserDefined{{tabTableconfigRowData.RowId}}{{i}}"
                                                [(ngModel)]="item.UserDefinedColumn" placeholder="User Defined Value" />
                                        </div>
                                        <!-- Conditional Column -->
                                        <div class="floatLeft" *ngIf="item.ColumnType===3" style="margin-top: 1em;">
                                            <p-dropdown placeholder="Select Values" id="cmbConditionalDefinedSource"
                                                filter="true"
                                                name="cmbConditionalDefinedSource{{tabTableconfigRowData.RowId}}{{i}}"
                                                [options]="conditionalColumnSource" [(ngModel)]="item.DbColumn">
                                            </p-dropdown>
                                            <p-dropdown placeholder="Select Operator" class="cmbOperator" filter="true"
                                                name="cmbOperator{{tabTableconfigRowData.RowId}}{{i}}"
                                                [options]="formulaOperatorsDropdownDataList"
                                                [(ngModel)]="item.FormulaOperatorId">
                                            </p-dropdown>
                                            <p-dropdown placeholder="Select Values" class="cmbOperator" filter="true"
                                                name="cmbConditionalDefinedTarget{{tabTableconfigRowData.RowId}}{{i}}"
                                                [options]="conditionalColumnTarget" [(ngModel)]="item.UserDefinedColumn"
                                                (onChange)="onConditionalValueChange(tabTableconfigRowData.RowId,i,item.UserDefinedColumn)">
                                            </p-dropdown>
                                            <input *ngIf="item.ShowConditionalDefinedValueTextBox" type="text"
                                                pInputText
                                                name="txtConditionalDefinedValue{{tabTableconfigRowData.RowId}}{{i}}"
                                                [(ngModel)]="item.ConditionalUserDefinedColumn"
                                                placeholder="Conditional Defined Value" class="cmbOperator" />
                                            <input type="text" pInputText
                                                name="txtConditionalDefinedResultValue{{tabTableconfigRowData.RowId}}{{i}}"
                                                placeholder="Result Value" [(ngModel)]="item.ResultColumn"
                                                class="txtConditionalDefinedResultValue" />
                                            <input type="color" pInputText
                                                name="txtResultColor{{tabTableconfigRowData.RowId}}{{i}}"
                                                [(ngModel)]="item.ColourCode"
                                                class="txtConditionalDefinedResultValue" />
                                        </div>
                                        <div *ngIf="item.ShowDeleteIcon" class="ShowDeleteIcon">
                                            <button class="btn" (click)="onDeleteRow(tabTableconfigRowData.RowId);"
                                                style="border:2px solid red; border-radius:5px"><i
                                                    class="fa fa-close btnClose"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>
                        </tr>
                    </ng-template>
                </table>
            </div>
        </section>
        <section class="row" class="addNewRowSection">
            <a id="addNewRowId" (click)="onAddNewRow();"><i class="fa fa-plus"></i>Add
                new row</a>
            <p-button label="Save" icon="pi pi-check" iconPos="left" styleClass="ui-button-success"
                (onClick)="onUpdateTabTableConfigurationDetails('save')"></p-button>
            <p-button label="Save & Preview" icon="pi pi-search" iconPos="left" styleClass="ui-button-success"
                (onClick)="onUpdateTabTableConfigurationDetails('preview')"></p-button>
        </section>
    </p-dialog>

    <p-dialog [(visible)]="displayColumnTypeInPopup" [style]="{'width': '35em !important'}" modal="true">
        <p-header> Select column type to add </p-header>
        <section id="columnTypeContent">
            <div class="p-field-radiobutton">
                <p-radioButton name="columnTypeGroup" value="testResultColumn" [(ngModel)]="selectedValue"
                    inputId="testResultColumn">
                </p-radioButton> <label for="testResultColumn">&nbsp; TestResult Column</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="columnTypeGroup" value="conditionalColumn" [(ngModel)]="selectedValue"
                    inputId="conditionalColumns"></p-radioButton> <label for="conditionalColumn">&nbsp; Conditional
                    column</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="columnTypeGroup" value="userDefinedColumn" [(ngModel)]="selectedValue"
                    inputId="userDefinedColumn"></p-radioButton> <label for="userDefinedColumn">&nbsp; User defined
                    column</label>
            </div>
        </section>
        <p-footer>
            <button pButton pRipple type="button" label="Ok" (click)="onAddNewColumn();"
                class="p-button-raised p-button-info"></button>
        </p-footer>
    </p-dialog>

    <preview-tabTableConfiguration-modal [(isVisiblePreviewModal)]="showPreviewTabConfigurationTableDialog"
        (isVisibleModalChange)="makeitfalse($event)" [templateTabTableConfigId]="templateTabTableConfigId"
        [testId]="testId">
    </preview-tabTableConfiguration-modal>
</form>