.highlited {  background: blanchedalmond;}
.green {
    background-color: green;
}

.white {
    background-color: white;
}

.hideControl
{
  display: none;
}

.columnPosition
{
  position: relative;
}

.floatLeft{
float: left;
margin-top: 1em;
}

 #columnTypeContent{
  width: 30em;
  height: 7em;
}

#tabConfigurationTableId{
  height: auto;
  margin-top: 1em;
  align-content: center;
  overflow-x: auto;
  overflow-y: auto;
}

#tabConfigurationTableId,th,td{
  border: 1px solid black;
  padding: 0.3em;
}
#tabConfigurationTableDivId{
  width: 80em;
  overflow : scroll;
  height : 28em;
  width : 85em;
}
:host {
  display: block;
  flex-direction: column;
}
.header {
  background: blue;
  height: 25%;
}

.content {
  flex: 1;
  display: flex;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.confirmDialog{
  width: 50vw;
}

#tabTableConifgDialog
{
  width : 90%;  
  height: 50em;
}
#tblConfigNameDiv{
  border:0.1em solid gray;
  margin-top : 0.3em;
  width: 98.5%;
  padding: 0.5em;
}
// #tblConfigNameDiv{
//   border:0.1em solid rgb(66, 62, 62);
//   margin-top : 0.3em;
//   content-align : 0.5em;
// }
#tblConfigNameTxt
{
  height : 3em;
  width : 40em;
  padding-left:5px;
}
#mergeBtnSection
{
  margin-left : 0.2em;
  margin-bottom : 0.3em;
}
#tdCellSelection
{
  position: absolute;
  top:0;
  right:0;
  padding-right: 5px;
}
#editTableConfig{
  font-size: 18px;
  background-color:#ffffff;
  color: rgb(0, 139, 30);
  cursor: pointer;
}

#columnWidthTxt{
  margin-top:0.5em;
  width : 40%;
}
#columnHeaderTxt,#txtDbUserDefinedValue{
  float : left;
  width : 15em;
  margin-top : 1em;
}
.txtUserDefined{
  float : left;
  width : 15em;
  margin-top : 1em;
}
.ddlTestResultCol,#cmbDbUserDefined,#cmbConditionalDefinedSource{
 float : left;
 width : 15em;
}
#cmbConditionalDefinedSource{
 margin-top: 1em;
}
.ddlTestResultCol{
  margin-top : 0.5em;
}
.cmbOperator{
 float : left;
 width : 15em;
 margin-top : 0.5em;
}
.txtConditionalDefinedResultValue{
 float : left;
 width : 15em;
 margin-top : 0.5em;
}
#addNewRowId
{
  color: blue;
  cursor: pointer;
  padding-right: 0.5em;
}
.addNewRowSection
{
  margin-top:0.5em;
  margin-left:0.5em;
}
.btnClose{
  color: red;
  font-size: larger;
}
.ShowDeleteIcon{
  width: 6.1em !important;
  float: right;
}
.btnPlus{
  color: green;
  font-size: larger;
}