<form #tabConfigPreviewModalForm="ngForm">
    <p-dialog id header="Template Preview" [(visible)]="isVisibleModal"
        [contentStyle]="{'overflow-y': 'scroll', 'overflow-x': 'scroll'}" (onHide)="cancelModal()"
        (onShow)="showModal()" modal="true" [style]="{'width': '98%'}">

        <p-tabView id="templateTabView" styleClass="outer-panel" [controlClose]="true" [activeIndex]="0">
            <p-tabPanel *ngFor="let tab of templateTabs; let tabId = index" [header]="tab.name" [selected]="tabId == 0">
                <ng-template pTemplate="content">
                    <div id="dynamicTblDivId">
                        <table class="tblFormat">
                            <ng-template ngFor let-tabConfigRowData [ngForOf]="tab.templateTabData">
                                <tr>
                                    <ng-container
                                        *ngFor="let tabConfigColumnData of tabConfigRowData.columns; let i = index">
                                        <td colSpan="{{tabConfigColumnData.columnSpan}}" class="tdFormat"
                                            *ngIf="!tabConfigColumnData.isDeleted">
                                            <div *ngIf="tabConfigColumnData.displayFormatTypeId===1">
                                                <div class="headerTitle">
                                                    {{tabConfigColumnData.tabTableConfigurationName}}</div>
                                                <table id="tabConfigurationTableId">
                                                    <ng-template ngFor let-tabTableconfigRowData
                                                        [ngForOf]="tabConfigColumnData.tabTableConfiguration">
                                                        <tr>
                                                            <ng-container
                                                                *ngFor="let tabTableconfigColumnData of tabTableconfigRowData.columns;let j=index">
                                                                <td *ngIf="!tabTableconfigColumnData.isDeleted"
                                                                    id="td{{tabTableconfigRowData.rowId}}{{j}}"
                                                                    colSpan="{{tabTableconfigColumnData.columnSpan}}"
                                                                    [attr.rowspan]="tabTableconfigColumnData.rowSpan"
                                                                    [attr.width]="tabTableconfigColumnData.columnWidth+'%'"
                                                                    class="columnPosition">
                                                                    <div *ngIf="tabTableconfigColumnData.isHeader">
                                                                        <b>{{tabTableconfigColumnData.columnHeader}}</b>
                                                                    </div>
                                                                    <div *ngIf="!tabTableconfigColumnData.isHeader">
                                                                        {{tabTableconfigColumnData.columnData}}
                                                                    </div>
                                                                </td>
                                                            </ng-container>
                                                        </tr>
                                                    </ng-template>
                                                </table>
                                            </div>
                                            <div *ngIf="tabConfigColumnData.displayFormatTypeId===2">
                                                <div
                                                    *ngFor="let chartData of tabConfigColumnData.tabChartConfiguration">
                                                    <plot-chart [data]="chartData.plotlyData"
                                                        [layout]="chartData.plotlyLayout"
                                                        [options]="chartData.plotlyOptions"
                                                        [id]="chartData.plotlyChartId">
                                                    </plot-chart>
                                                </div>
                                            </div>
                                        </td>
                                    </ng-container>
                                </tr>
                            </ng-template>
                        </table>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>

        <ng-template #NoTableData>
            No Table Data
        </ng-template>
        <ng-template #NoChartData>
            No Chart Data
        </ng-template>
    </p-dialog>
</form>
<ngx-spinner size="default" type="ball-spin-clockwise">
    <p style="color: white">Generating Preview... </p>
</ngx-spinner>