<p-toast styleClass="custom-toast" position="bottom-right"></p-toast>
<p-toast key="duplicateName" styleClass="custom-toast" position="bottom-right"></p-toast>
<p-confirmDialog key="deleteTabConfirmation" [style]="{width: '50vw'}"></p-confirmDialog>
<p-confirmDialog key="deleteCellConfirmation" [style]="{width: '50vw'}"></p-confirmDialog>
<p-confirmDialog key="updateTabConfigConfirmation" [style]="{width: '50vw'}"></p-confirmDialog>

<div id="addTemplateDiv">
  <h4>Add Template</h4>
  <div style="border-style:solid; border-width:thin; border-top-color: rgb(73, 87, 102); border-color: rgb(219, 222, 224);
       border-top: outset; padding: 1em; height: 100%;width: 100%; margin-left:0px;vertical-align:middle">
    <div class="row" style="height: 5em;">
      <div class="col-md-6" style="height: 40px;">
        <input type="text" style="width: 100%; height:100%" pInputText placeholder="Template Name"
          [(ngModel)]="templateViewModel.name">
      </div>
      <div class="col-md-2">
        <p-dropdown name="testTypeDropdown" [options]="testTypeDropdownData" [(ngModel)]="templateViewModel.testTypeId"
          filter="true" (onChange)="onLoadTestMode($event.value)" placeholder="Select a TestType" [showClear]="true"
          [disabled]="addTemplateDisable">
        </p-dropdown>
      </div>
      <div class="col-md-2">
        <p-multiSelect defaultLabel="Select Test Mode" filter="true" name="testModeDropdown" [style]="{'width':' 100%'}"
          [options]="testModeDropdownData" [(ngModel)]="templateViewModel.testModeList"
          (onChange)="onTestModeChangeForAdd($event.value,'save')">
        </p-multiSelect>
      </div>
      <div class="col-md-2">
        <p-button [disabled]="addTemplateDisable" label="Add Template" styleClass="ui-button-info"
          (click)="onSaveTemplate()"></p-button>
      </div>
    </div>
    <div *ngIf="showTabView" class="row" style="height: 5em;">
      <div class="col-md-8">
        <p-dropdown #dd name="testDropdown" [options]="testDropdownData" placeholder="Select a Test" filter="true"
          [showClear]="true" [(ngModel)]="testName" (onChange)="onTestChange($event.value, dd)"
          [style]="{'width':' 100%'}">
        </p-dropdown>
      </div>
      <div class="col-md-4 floatRight">
        <p-button type="button" label="Template Preview" (click)="onPreviewTabConfiguration()"
          class="ui-button-rounded ui-button-info formatSelectionBtn">
        </p-button>
      </div>
    </div>
    <div *ngIf="showTabView" class="row">
      <section class="col-xl-12">
        <div class="floatRight">
          <p-button type="button" label="Preview" (click)="onPreviewTabConfiguration()"
            class="ui-button-rounded ui-button-info formatSelectionBtn">
          </p-button>
        </div>
        <p-tabView id="templateTabView" styleClass="outer-panel" [controlClose]="true" (onClose)="onDeleteTab($event)"
          [activeIndex]="templateIndexId">
          <p-tabPanel *ngFor="let tab of templateTabs; let tabId = index" [header]="tab.name" [closable]="true"
            [selected]="tabId == 0">
            <ng-template pTemplate="header">
              <input type="text" placeholder="tab.name" [(ngModel)]="tab.name"
                (change)="onUpdateTemplateTab(tab.tabIndex,tab.name)" />
            </ng-template>
            <ng-template pTemplate="content">
              <div *ngIf="tab.showFormatSelection" [style]="{'float':'right'}">
                <p-button type="button" label="Format Selection" (click)="showDialog(tabId)"
                  class="ui-button-rounded ui-button-info formatSelectionBtn"></p-button>
              </div>
              <div id="dynamicTblDivId">
                <table class="tblFormat">
                  <ng-template ngFor let-rowData [ngForOf]="tab.rows">
                    <tr>
                      <ng-container *ngFor="let item of rowData.Columns; let i = index">
                        <td colSpan="{{item.ColumnSpan}}" [style]="{'border':'2px solid lightblue','width':'50%'}"
                          *ngIf="!item.IsDeleted">
                          <div [style]="{'width':'100%'}">
                            <div
                              [style]="{'float': 'left','text-align':'center','height':'150px','width':'95%','line-height':'150px'}">
                              <p-radioButton name="{{'group-'+tabId+rowData.RowId+i}}"
                                (onClick)="openTabTableConfiguration(item,rowData,tabId);"
                                value="{{'Table_'+tabId+rowData.RowId+i}}" label="Table"
                                inputId="{{'optTable-'+rowData.RowId+i}}" [(ngModel)]="item.DisplayFormatType">
                              </p-radioButton>
                              <i *ngIf="item.IsTabTableConfigExists" id="editTableConfig" class="fa fa-pencil"
                                (click)="onEditTableConfiguration(item,rowData,tabId)"
                                style="font-size: 18px; background-color:#ffffff; color: rgb(0, 139, 30);padding-left:0.5em;cursor: pointer;"></i>
                              <p-radioButton name="{{'group-'+tabId+rowData.RowId+i}}"
                                (onClick)="openTabChartConfiguration(item,rowData,tabId);"
                                value="{{'Chart_'+tabId+rowData.RowId+i}}" label="Chart"
                                inputId="{{'optChart-'+tabId+rowData.RowId+i}}" [(ngModel)]="item.DisplayFormatType"
                                [style]="{'margin-left':'5em'}">
                              </p-radioButton>
                              <i *ngIf="item.IsTabChartConfigExists" id="editChartConfig" class="fa fa-pencil"
                                (click)="onEditChartConfiguration(item,rowData,tabId)"
                                style="font-size: 18px; background-color:#ffffff; color: rgb(0, 139, 30);padding-left:0.5em;cursor: pointer;"></i>

                              <p [style]="{'margin-top': '-3em'}" *ngIf="item.IsTabTableConfigExists">
                                {{item.TemplateTabTableConfigurationName}}(LastUpdated By:
                                {{item.TemplateTabTableConfigurationLastUpdatedBy}})
                              </p>
                              <p [style]="{'margin-top': '-3em'}" *ngIf="item.IsTabChartConfigExists">
                                {{item.TemplateTabChartConfigurationName}}(LastUpdated By:
                                {{item.TemplateTabChartConfigurationLastUpdatedBy}})
                              </p>
                            </div>
                            <div [style]="{'float': 'right','vertical-align':'top','width':'5%'}">
                              <button pButton (click)="onDeleteCell(tabId,rowData.RowId,item.ColumnName)"
                                icon="pi pi-times" title="Delete"></button>
                            </div>
                          </div>
                        </td>
                      </ng-container>
                    </tr>
                  </ng-template>
                </table>
              </div>
              <div *ngIf="tab.showAddNewRow" [style]="{'margin-bottom': '2em'}">
                <a [style]="{'color': 'blue','cursor': 'pointer','float':'left','padding-right':'1em'}"
                  (click)="addNewRow(tab.tabIndex);" title="Add new row"><i class="fa fa-plus"></i>Add new row</a>
              </div>
            </ng-template>
          </p-tabPanel>
          <p-tabPanel [selected]="false">
            <ng-template pTemplate="header">
              <button class="btnAddTab" (click)="onAddNewTab();"><i class="fa fa-plus"></i></button>
            </ng-template>
          </p-tabPanel>
        </p-tabView>
      </section>
    </div>
    <p-dialog header="Layout" [(visible)]="displayFormatSelection" id="userAddDialog" modal="true">
      <section>
        <div style="height: 90px; width: 450px;">
          Rows: <input pInputText type="text" [(ngModel)]="numberOfRows" style="height: 3em;" id="rowText"
            placeholder="User Input" (keypress)="onNumberOnly($event);" #row>
          Column: <input pInputText type="text" style="height: 3em;" disabled='true' value="2" #column>
        </div>
      </section>
      <section>
        <div style="float: right;">
          <button class="btn btn-danger" (click)="displayFormatSelection=false">Cancel</button>&nbsp;&nbsp; &nbsp;
          <button class="btn btn-primary" (click)="createDynamicTable(row.value,column.value);">Add</button>
        </div>
      </section>
    </p-dialog>

    <add-tabTableConfiguration-modal [(isVisibleModal)]="showAddTabConfigurationTableDialog"
      (onLoadTemplatTabEditConfiguration)="loadTemplatTabEditConfiguration($event)" [templateId]="templateId"
      [templateTabConfigIndexId]="templateTabConfigIndexId" [templateTabId]="templateTabId"
      [templateTabConfigId]="templateTabConfigId" [templateTabTableConfigName]="templateTabTableConfigName"
      [templateTabTableConfigId]="templatetabTableConfigId" [displayFormatType]="displayFormatType"
      [selectedCellArray]="selectedCellArray" [finalIndexArray]="finalIndexArray" [testId]="testId">
    </add-tabTableConfiguration-modal>

    <edit-tabTableConfiguration-modal [(isVisibleModal)]="showEditTabConfigurationTableDialog"
      (onLoadTemplatTabEditConfiguration)="loadTemplatTabEditConfiguration($event)" [templateId]="templateId"
      [templateTabConfigIndexId]="templateTabConfigIndexId" [templateTabId]="templateTabId"
      [templateTabConfigId]="templateTabConfigId" [templateTabTableConfigName]="templateTabTableConfigName"
      [templateTabTableConfigId]="templatetabTableConfigId" [displayFormatType]="displayFormatType"
      [selectedCellArray]="selectedCellArray" [finalIndexArray]="finalIndexArray" [testId]="testId">
    </edit-tabTableConfiguration-modal>

    <tabChartConfiguration-modal [(isVisibleModal)]="showTabChartConfigurationDialog"
      (onLoadTemplatTabEditConfiguration)="loadTemplatTabEditConfiguration($event)" [templateId]="templateId"
      [templateTabConfigIndexId]="templateTabConfigIndexId" [templateTabId]="templateTabId"
      [templateTabConfigId]="templateTabConfigId" [templateTabChartConfigName]="templateTabChartConfigName"
      [templateTabChartConfigId]="templateTabChartConfigId" [displayFormatType]="displayFormatType"
      [isEditChartConfiguration]="isEditChartConfiguration" [chartTypeId]="templateTabChartTypeId" [testId]="testId"
      [submatrixName]="submatrixName">
    </tabChartConfiguration-modal>

    <preview-template-modal [(isVisibleModal)]="showPreviewTabConfigurationDialog" [templateId]="templateId"
      [isViewInitialized]="false" [testId]="testId" [submatrixName]="submatrixName">
    </preview-template-modal>

  </div>
</div>