<p-toast styleClass="custom-toast" position="bottom-right"></p-toast>
<p-confirmDialog key="deleteChaartChannelConfirmation" class="confirmDialog" [baseZIndex]="10000"></p-confirmDialog>
<p-confirmDialog key="deleteChaartAnnotationConfirmation" class="confirmDialog" [baseZIndex]="10000"></p-confirmDialog>


<form #tabTableConfigModalForm="ngForm">
    <p-dialog id header="Template Tab Chart Configuration" id="tempTabChartConfigDialogId" [(visible)]="isVisibleModal"
        (onHide)="cancelModal()" (onShow)="showModal()" modal="true" [style]="{'width': '95%'}">
        <div id="chartConfigDialogDivId">
            <section class="row col-md-12 marginTop marginBottom">
                <div class="col-lg-3">
                    Chart Type:<br />
                    <p-dropdown name="chartTypeDropdown" [style]="{'width':'95%'}" [options]="chartTypeDropdownDataList"
                        [(ngModel)]="templateTabChartConfigurationModel.ChartTypeId" filter="true"
                        placeholder="Select ChartType" [showClear]="true" [disabled]="chartTypeDisabled"
                        (onChange)=" onChartTypeChange(templateTabChartConfigurationModel.ChartTypeId)">
                    </p-dropdown>
                </div>
                <div class="col-lg-3">
                    Chart Name:<br />
                    <input pInputText type="text" class="chartNameWidth giveHeight"
                        [(ngModel)]="templateTabChartConfigurationModel.Name" name="txtChartConfigurationName"
                        placeholder="Enter Chart Configuration Name">
                </div>
                <div class="col-lg-3" *ngIf="showOrientation">
                    Orientation:<br />
                    <p-dropdown name="orientationDropdown" [style]="{'width':'85%'}" [options]="orientationList"
                        [(ngModel)]="templateTabChartConfigurationModel.ChartOrientation" filter="true"
                        [showClear]="true" (onChange)="onOrientationChange($event.value)">
                    </p-dropdown>
                </div>
                <div class="col-lg-3" *ngIf="!isEditChartConfiguration"><br />
                    <button class="btn btn-primary" (click)="onUpsertTabChartConfiguration();">Save Chartname</button>
                </div>
            </section>
            <div id="divChartConfig" *ngIf="showChartConfigurationDetails && isEditChartConfiguration">
                <section class="channelConfigSection">
                    <div class="col-lg-12 ConfigSectionDiv">
                        Channel
                        Configuration
                        <p-button label="Add Channel" class="floatRight" (click)="onShowChartChannelConfiguration()"
                            styleClass="ui-button-info"></p-button>
                    </div>

                    <!-- Chart Channel -->
                    <div class="row col-lg-12" *ngIf="showChartChannelConfiguration">
                        <div class="row col-md-12 giveMarginTop">
                            <div class="col-md-3">
                                Select Channel:
                                <p-dropdown name="channelDropdown" [style]="{'width':'96%'}"
                                    [options]="channelsDropdownDataList" [(ngModel)]="chartChannelModel.Name"
                                    filter="true" placeholder="Select Channel" [showClear]="true"
                                    (onChange)="onChannelChange($event.value)">
                                </p-dropdown>
                            </div>
                            <div class="col-md-1">
                                Physical Qty:<br />
                                <input type="text" pInputText name="siUnit" class="giveHeight inputWidth"
                                    placeholder="SI Unit" [(ngModel)]="SiUnit" [disabled]="true" />
                            </div>
                            <div class="col-md-2">
                                Select Style:
                                <p-dropdown name="chartChannelStyleDropdown" [style]="{'width':'96%'}"
                                    [options]="chartLineStyleDropdownDataList"
                                    [(ngModel)]="chartChannelModel.ChartLineStyleId" filter="true"
                                    placeholder="Select Style" [showClear]="true">
                                </p-dropdown>
                            </div>
                            <div class="col-md-2">
                                Select Thickness:
                                <p-dropdown name="chartChannelThicknessDropdown" [style]="{'width':'96%'}"
                                    [options]="chartLineThicknessDropdownDataList"
                                    [(ngModel)]="chartChannelModel.ChartLineThicknessId" filter="true"
                                    placeholder="Select Thickness" [showClear]="true">
                                </p-dropdown>
                            </div>
                            <div class="col-md-2">
                                Select Color:<br />
                                <!--<input type="color" pInputText name="chartChannelColorCode"
                                    class="giveHeight giveColorInputWidth"
                                    [(ngModel)]="chartChannelModel.ChartLineColour" />-->
                                <chrome-wrapper [(color)]="chartChannelModel.ChartLineColour" ngDefaultControl
                                    name="chartChannelColorCode" class="giveHeight giveColorInputWidth"
                                    [(ngModel)]="chartChannelModel.ChartLineColour"
                                    (colorChange)="parentEventHandlerFunction($event, 'chartLine')">
                                </chrome-wrapper>
                            </div>
                            <div class="col-md-2">
                                Legend Text:<br />
                                <input type="text" pInputText name="chartLegendText" class="giveHeight inputWidth"
                                    placeholder="Legend Text" [(ngModel)]="defaultLegendText" />
                            </div>
                        </div>
                        <div class="row col-lg-12 marginTop giveMarginBottom">
                            <div class="col-md-3">
                                Flip polarity:
                                <div class="p-field-radiobutton">
                                    <p-radioButton inputId="chartYes" name="polarityGroup" [value]="true"
                                        [(ngModel)]="chartChannelModel.Polarity"></p-radioButton>
                                    <label>&nbsp; Yes</label>
                                    &nbsp;&nbsp;<p-radioButton inputId="chartNo" name="polarityGroup" [value]="false"
                                        [(ngModel)]="chartChannelModel.Polarity"></p-radioButton>
                                    <label>&nbsp; No</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                Show Legend
                                <div class="p-field-radiobutton inputText">
                                    <p-radioButton inputId="legendYes" name="legendGroup" [value]="true"
                                        [(ngModel)]="chartChannelModel.IsLegendVisible"></p-radioButton>
                                    <label>&nbsp; Yes</label>
                                    &nbsp;&nbsp;<p-radioButton inputId="legendNo" name="legendGroup" [value]="false"
                                        [(ngModel)]="chartChannelModel.IsLegendVisible">
                                    </p-radioButton>
                                    <label>&nbsp; No</label>
                                </div>
                            </div>
                            <div class="col-md-2" *ngIf="showFillArea">
                                Fill Area
                                <div class="p-field-radiobutton inputText">
                                    <p-radioButton inputId="fillAreaYes" name="fillAreaGroup" [value]="true"
                                        [(ngModel)]="chartChannelModel.FillArea"></p-radioButton>
                                    <label>&nbsp; Yes</label>
                                    &nbsp;&nbsp;<p-radioButton inputId="fillAreaNo" name="fillAreaGroup" [value]="false"
                                        [(ngModel)]="chartChannelModel.FillArea">
                                    </p-radioButton>
                                    <label>&nbsp; No</label>
                                </div>
                            </div>
                            <div class="col-md-2" *ngIf="showATDPosition">
                                ATD Position:<br />
                                <p-dropdown placeholder="ATDPosition" class="ddlTestResultCol" filter="true"
                                    name="aTDPosition" [options]="chartATDPositionDropdownDataList"
                                    [(ngModel)]="chartChannelModel.ATDPosition">
                                </p-dropdown>
                            </div>
                            <div class="col-md-3 marginTop">
                                <p-button label="Save Chart Channel" styleClass="ui-button-success"
                                    (click)="onAddNewChartChannel()">
                                </p-button>
                                <p-button label="Cancel" styleClass="ui-button-warning"
                                    (click)="onCancelChartChannel()">
                                </p-button>
                            </div>
                        </div>
                    </div>

                    <div id="chartChannelConfigurationData" *ngIf="showChartChannelConfigurationData">
                        <table class="tblFormat">
                            <ng-template ngFor let-chartChannelData [ngForOf]="chartChannelDataList">
                                <tr>
                                    <td class="tdFormat">
                                        <div class="fullWidth">
                                            <div class="tdDeleteIcon">
                                                <button pButton (click)="onDeleteChartChannel(chartChannelData.id)"
                                                    icon="pi pi-times" title="Delete"></button>
                                            </div>
                                            <div class="tdContentWithoutIcon">
                                                <div class="row col-lg-12 giveMarginTop">
                                                    <div class="row col-md-12">
                                                        <div class="col-md-3">
                                                            <b>Channel</b>
                                                            <p-dropdown name="channelDropdown{{chartChannelData.id}}"
                                                                [options]="channelsDropdownDataList"
                                                                [style]="{'width':'98%'}"
                                                                [(ngModel)]="chartChannelData.name" filter="true"
                                                                placeholder="Select Channel" [showClear]="true"
                                                                (onChange)="onUpdateChartChannelName(chartChannelData)">
                                                            </p-dropdown>
                                                        </div>
                                                        <div class="col-md-1">
                                                            Physical Qty:<br />
                                                            <input type="text" pInputText
                                                                name="siUnit{{chartChannelData.id}}"
                                                                class="giveHeight inputWidth" placeholder="SI Unit"
                                                                [(ngModel)]="chartChannelData.siUnit"
                                                                [disabled]="true" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <b>Style</b>
                                                            <p-dropdown
                                                                name="chartChannelStyleDropdown{{chartChannelData.id}}"
                                                                [style]="{'width':'98%'}"
                                                                [options]="chartLineStyleDropdownDataList"
                                                                [(ngModel)]="chartChannelData.chartLineStyleId"
                                                                filter="true" placeholder="Select Style"
                                                                [showClear]="true"
                                                                (onChange)="onUpdateChartChannel(chartChannelData)">
                                                            </p-dropdown>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <b>Thickness</b>
                                                            <p-dropdown
                                                                name="chartChannelThicknessDropdown{{chartChannelData.id}}"
                                                                [style]="{'width':'98%'}"
                                                                [options]="chartLineThicknessDropdownDataList"
                                                                [(ngModel)]="chartChannelData.chartLineThicknessId"
                                                                filter="true" placeholder="Select Thickness"
                                                                [showClear]="true"
                                                                (onChange)="onUpdateChartChannel(chartChannelData)">
                                                            </p-dropdown>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <b>Color</b>
                                                            <!--<input type="color" pInputText
                                                                name="chartChannelColorCode{{chartChannelData.id}}"
                                                                id="chartChannelColorCode{{chartChannelData.id}}"
                                                                [(ngModel)]="chartChannelData.chartLineColour"
                                                                class="giveHeight giveColorInputWidth"
                                                                (onChange)="onUpdateChartChannel(chartChannelData)" />-->
                                                            <chrome-wrapper [(color)]="chartChannelData.chartLineColour"
                                                                ngDefaultControl
                                                                name="chartChannelColorCode{{chartChannelData.id}}"
                                                                id="chartChannelColorCode{{chartChannelData.id}}"
                                                                [(ngModel)]="chartChannelData.chartLineColour"
                                                                class="giveHeight giveColorInputWidth"
                                                                (onChange)="onUpdateChartChannel(chartChannelData)"
                                                                (colorChange)="parentEventHandlerFunction($event, 'chartLine', chartChannelData)">
                                                            </chrome-wrapper>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <b>Legend Text</b><br />
                                                            <input type="text" pInputText
                                                                name="chartLegendText{{chartChannelData.id}}"
                                                                class="giveHeight inputWidth" placeholder="Legend Text"
                                                                [(ngModel)]="chartChannelData.legendName"
                                                                (change)="onUpdateChartChannel(chartChannelData)" />
                                                        </div>
                                                    </div>
                                                    <div class="row col-lg-12" style="margin-top:1%;">
                                                        <div class="col-md-3">
                                                            <b>Flip polarity</b>
                                                            <div class="p-field-radiobutton">
                                                                <p-radioButton inputId="chartYes{{chartChannelData.id}}"
                                                                    name="polarityGroup{{chartChannelData.id}}"
                                                                    [value]="true"
                                                                    [(ngModel)]="chartChannelData.Polarity"
                                                                    (click)="onUpdateChartChannel(chartChannelData)">
                                                                </p-radioButton>
                                                                <label>&nbsp; Yes</label>
                                                                &nbsp;&nbsp;<p-radioButton
                                                                    inputId="chartNo{{chartChannelData.id}}"
                                                                    name="polarityGroup{{chartChannelData.id}}"
                                                                    [value]="false"
                                                                    [(ngModel)]="chartChannelData.polarity"
                                                                    (click)="onUpdateChartChannel(chartChannelData)">
                                                                </p-radioButton>
                                                                <label>&nbsp; No</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <b>Show Legend</b>
                                                            <div class="p-field-radiobutton" [style]="{'width':'98%'}">
                                                                <p-radioButton
                                                                    inputId="legendYes{{chartChannelData.id}}"
                                                                    name="legendGroup{{chartChannelData.id}}"
                                                                    [value]="true"
                                                                    [(ngModel)]="chartChannelData.isLegendVisible"
                                                                    (click)="onUpdateChartChannel(chartChannelData)">
                                                                </p-radioButton>
                                                                <label>&nbsp; Yes</label>
                                                                &nbsp;&nbsp;<p-radioButton
                                                                    inputId="legendNo{{chartChannelData.id}}"
                                                                    name="legendGroup{{chartChannelData.id}}"
                                                                    [value]="false"
                                                                    [(ngModel)]="chartChannelData.isLegendVisible"
                                                                    (click)="onUpdateChartChannel(chartChannelData)">
                                                                </p-radioButton>
                                                                <label>&nbsp; No</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2" *ngIf="showFillArea">
                                                            <b>Fill Area</b>
                                                            <div class="p-field-radiobutton" [style]="{'width':'98%'}">
                                                                <p-radioButton
                                                                    inputId="fillAreaYes{{chartChannelData.id}}"
                                                                    name="fillAreaGroup{{chartChannelData.id}}"
                                                                    [value]="true"
                                                                    [(ngModel)]="chartChannelData.fillArea"
                                                                    (click)="onUpdateChartChannel(chartChannelData)">
                                                                </p-radioButton>
                                                                <label>&nbsp; Yes</label>
                                                                &nbsp;&nbsp;<p-radioButton
                                                                    inputId="fillAreaNo{{chartChannelData.id}}"
                                                                    name="fillAreaGroup{{chartChannelData.id}}"
                                                                    [value]="false"
                                                                    [(ngModel)]="chartChannelData.fillArea"
                                                                    (click)="onUpdateChartChannel(chartChannelData)">
                                                                </p-radioButton>
                                                                <label>&nbsp; No</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2" *ngIf="showATDPosition">
                                                            ATD Position:<br />
                                                            <p-dropdown placeholder="ATDPosition"
                                                                class="ddlTestResultCol" filter="true"
                                                                name="aTDPosition{{chartChannelData.id}}"
                                                                [options]="chartATDPositionDropdownDataList"
                                                                [(ngModel)]="chartChannelData.atdPosition"
                                                                (onChange)="onUpdateChartChannel(chartChannelData)">
                                                            </p-dropdown>
                                                        </div>
                                                        <!-- <div class="col-md-3 marginTop">
                                                            <p-button id="Update{{chartChannelData.id}}"
                                                                label="Update Chart Channel"
                                                                styleClass="ui-button-success"
                                                                (click)="onUpdateChartChannel(chartChannelData)">
                                                            </p-button>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </table>
                    </div>

                    <!-- StackBar Chart Channel -->
                    <div class="row col-lg-12" *ngIf="showStackBarChartChannelConfiguration">
                        <div class="row col-md-12 giveMarginTop">
                            <div class="col-md-3">
                                Select Channel:
                                <p-dropdown name="stackBarChannelNameDropdown" [style]="{'width':'96%'}"
                                    [options]="channelsDropdownDataList" [(ngModel)]="stackBarChartChannelModel.Name"
                                    filter="true" placeholder="Select Channel" [showClear]="true"
                                    (onChange)="onChannelChange($event.value)">
                                </p-dropdown>
                            </div>
                            <div class="col-md-2">
                                Select Color:
                                <!--<input type="color" pInputText name="stackBarChartChannelColorCode"
                                    class="giveHeight giveColorInputWidth"
                                    [(ngModel)]="stackBarChartChannelModel.ChartLineColour" />-->
                                <chrome-wrapper [(color)]="stackBarChartChannelModel.ChartLineColour" ngDefaultControl
                                    name="chartChannelColorCode" class="giveHeight giveColorInputWidth"
                                    [(ngModel)]="stackBarChartChannelModel.ChartLineColour"
                                    (colorChange)="parentEventHandlerFunction($event, 'chartLine')">
                                </chrome-wrapper>
                            </div>
                            <div class="col-md-3">
                                Legend Text:<br />
                                <input type="text" pInputText name="stackBarChartLegendText"
                                    class="giveHeight inputWidth" placeholder="Legend Text"
                                    [(ngModel)]="defaultLegendText" />
                            </div>
                            <div class="col-md-2">
                                Flip polarity:
                                <div class="p-field-radiobutton">
                                    <p-radioButton inputId="stackBarChartYes" name="stackBarPolarityGroup"
                                        [value]="true" [(ngModel)]="stackBarChartChannelModel.Polarity"></p-radioButton>
                                    <label>&nbsp; Yes</label>
                                    &nbsp;&nbsp;<p-radioButton inputId="stackBarChartNo" name="stackBarPolarityGroup"
                                        [value]="false" [(ngModel)]="stackBarChartChannelModel.Polarity">
                                    </p-radioButton>
                                    <label>&nbsp; No</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                Show Legend
                                <div class="p-field-radiobutton inputText">
                                    <p-radioButton inputId="stackBarLegendYes" name="stackBarLegendGroup" [value]="true"
                                        [(ngModel)]="stackBarChartChannelModel.IsLegendVisible"></p-radioButton>
                                    <label>&nbsp; Yes</label>
                                    &nbsp;&nbsp;<p-radioButton inputId="stackBarLegendNo" name="stackBarLegendGroup"
                                        [value]="false" [(ngModel)]="stackBarChartChannelModel.IsLegendVisible">
                                    </p-radioButton>
                                    <label>&nbsp; No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row col-lg-12 marginTop giveMarginBottom">
                            <div class="col-md-3">
                                Good Criteria:<br />
                                <input type="text" pInputText name="stackBarChartGoodValue"
                                    class="giveHeight inputWidth" placeholder="Good Value"
                                    [(ngModel)]="stackBarChartChannelModel.GoodValue" />
                            </div>
                            <div class="col-md-2">
                                Acceptable Criteria:<br />
                                <input type="text" pInputText name="stackBarChartAcceptableValue"
                                    class="giveHeight inputWidth" placeholder="Acceptable Value"
                                    [(ngModel)]="stackBarChartChannelModel.AcceptableValue" />
                            </div>
                            <div class="col-md-3">
                                Marginal Criteria:<br />
                                <input type="text" pInputText name="stackBarChartMarginalValue"
                                    class="giveHeight inputWidth" placeholder="Marginal Value"
                                    [(ngModel)]="stackBarChartChannelModel.MarginalValue" />
                            </div>
                            <div class="col-md-2">
                                Poor Criteria:<br />
                                <input type="text" pInputText name="stackBarChartPoorValue"
                                    class="giveHeight inputWidth" placeholder="Poor Value"
                                    [(ngModel)]="stackBarChartChannelModel.PoorValue" />
                            </div>
                            <div class="col-md-2">
                                ATD Position:<br />
                                <p-multiSelect defaultLabel="ATDPosition" class="ddlTestResultCol" filter="true"
                                    name="stackBarChartATDPosition" [options]="chartATDPositionDropdownDataList"
                                    [selectionLimit]="2" [(ngModel)]="stackBarChartChannelModel.ATDPositionIds"
                                    (onChange)="onAtdPositionChange($event.value,'save')">
                                </p-multiSelect>
                            </div>
                        </div>
                        <div class="row col-lg-12 marginTop giveMarginBottom floatRight">
                            <p-button label="Save StackBarChart Channel" style="margin-left: 1%;"
                                styleClass="ui-button-success" (click)="onAddNewStackBarChartChannel()">
                            </p-button>
                            <p-button label="Cancel" styleClass="ui-button-warning"
                                (click)="onCancelStackBarChartChannel()">
                            </p-button>
                        </div>
                    </div>

                    <div id="stackBarCartChannelConfigurationData" *ngIf="showStackBarChartChannelConfigurationData">
                        <table class="tblFormat">
                            <ng-template ngFor let-stackBarChartChannelData [ngForOf]="stackBarChartChannelDataList">
                                <tr>
                                    <td class="tdFormat">
                                        <div class="fullWidth">
                                            <div class="tdDeleteIcon">
                                                <button pButton
                                                    (click)="onDeleteStackBarChartChannel(stackBarChartChannelData.id)"
                                                    icon="pi pi-times" title="Delete"></button>
                                            </div>
                                            <div class="tdContentWithoutIcon">
                                                <div class="row col-lg-12 giveMarginTop">
                                                    <div class="row col-md-12">
                                                        <div class="col-md-3">
                                                            Channel:
                                                            <p-dropdown
                                                                name="channelNameDropdown{{stackBarChartChannelData.id}}"
                                                                [style]="{'width':'96%'}"
                                                                [options]="channelsDropdownDataList"
                                                                [(ngModel)]="stackBarChartChannelData.name"
                                                                filter="true" placeholder="Select Channel"
                                                                [showClear]="true"
                                                                (onChange)="onChannelChange($event.value)">
                                                            </p-dropdown>
                                                        </div>
                                                        <div class="col-md-2">
                                                            Color:
                                                            <!--<input type="color" pInputText
                                                                name="chartChannelColorCode{{stackBarChartChannelData.id}}"
                                                                class="giveHeight giveColorInputWidth"
                                                                [(ngModel)]="stackBarChartChannelData.chartLineColour" />-->
                                                            <chrome-wrapper
                                                                [(color)]="stackBarChartChannelData.chartLineColour"
                                                                ngDefaultControl
                                                                name="chartChannelColorCode{{stackBarChartChannelData.id}}"
                                                                class="giveHeight giveColorInputWidth"
                                                                [(ngModel)]="stackBarChartChannelData.chartLineColour"
                                                                (colorChange)="parentEventHandlerFunction($event, 'chartLine')">
                                                            </chrome-wrapper>
                                                        </div>
                                                        <div class="col-md-3">
                                                            Legend Text:<br />
                                                            <input type="text" pInputText
                                                                name="chartLegendText{{stackBarChartChannelData.id}}"
                                                                class="giveHeight inputWidth" placeholder="Legend Text"
                                                                [(ngModel)]="defaultLegendText" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            Flip polarity:
                                                            <div class="p-field-radiobutton">
                                                                <p-radioButton
                                                                    inputId="chartYes{{stackBarChartChannelData.id}}"
                                                                    name="polarityGroup{{stackBarChartChannelData.id}}"
                                                                    [value]="true"
                                                                    [(ngModel)]="stackBarChartChannelData.polarity">
                                                                </p-radioButton>
                                                                <label>&nbsp; Yes</label>
                                                                &nbsp;&nbsp;<p-radioButton
                                                                    inputId="chartNo{{stackBarChartChannelData.id}}"
                                                                    name="polarityGroup{{stackBarChartChannelData.id}}"
                                                                    [value]="false"
                                                                    [(ngModel)]="stackBarChartChannelData.polarity">
                                                                </p-radioButton>
                                                                <label>&nbsp; No</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            Show Legend
                                                            <div class="p-field-radiobutton inputText">
                                                                <p-radioButton
                                                                    inputId="legendYes{{stackBarChartChannelData.id}}"
                                                                    name="legendGroup{{stackBarChartChannelData.id}}"
                                                                    [value]="true"
                                                                    [(ngModel)]="stackBarChartChannelData.isLegendVisible">
                                                                </p-radioButton>
                                                                <label>&nbsp; Yes</label>
                                                                &nbsp;&nbsp;<p-radioButton
                                                                    inputId="legendNo{{stackBarChartChannelData.id}}"
                                                                    name="legendGroup{{stackBarChartChannelData.id}}"
                                                                    [value]="false"
                                                                    [(ngModel)]="stackBarChartChannelData.isLegendVisible">
                                                                </p-radioButton>
                                                                <label>&nbsp; No</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row col-lg-12" style="margin-top:1%;">
                                                        <div class="col-md-3">
                                                            Good Criteria:<br />
                                                            <input type="text" pInputText
                                                                name="chartGoodValue{{stackBarChartChannelData.id}}"
                                                                class="giveHeight inputWidth" placeholder="Good Value"
                                                                [(ngModel)]="stackBarChartChannelData.goodValue" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            Acceptable Criteria:<br />
                                                            <input type="text" pInputText
                                                                name="chartAcceptableValue{{stackBarChartChannelData.id}}"
                                                                class="giveHeight inputWidth"
                                                                placeholder="Acceptable Value"
                                                                [(ngModel)]="stackBarChartChannelData.acceptableValue" />
                                                        </div>
                                                        <div class="col-md-3">
                                                            Marginal Criteria:<br />
                                                            <input type="text" pInputText
                                                                name="chartMarginalValue{{stackBarChartChannelData.id}}"
                                                                class="giveHeight inputWidth"
                                                                placeholder="Marginal Value"
                                                                [(ngModel)]="stackBarChartChannelData.marginalValue" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            Poor Criteria:<br />
                                                            <input type="text" pInputText
                                                                name="chartPoorValue{{stackBarChartChannelData.id}}"
                                                                class="giveHeight inputWidth" placeholder="Poor Value"
                                                                [(ngModel)]="stackBarChartChannelData.poorValue" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            ATD
                                                            Position:<br />
                                                            <p-multiSelect defaultLabel="ATDPosition"
                                                                class="ddlTestResultCol" filter="true"
                                                                selectedItemsLabel="{0} items selected"
                                                                [selectionLimit]="2"
                                                                name="stackBarChartATDPosition{{stackBarChartChannelData.id}}"
                                                                [options]="chartATDPositionDropdownDataList"
                                                                (onChange)="onAtdPositionChange($event.value,'update')"
                                                                [(ngModel)]="stackBarChartChannelData.atdPositionNameIds">
                                                            </p-multiSelect>
                                                        </div>
                                                    </div>
                                                    <div class="row col-lg-12" style="margin-top:1%;margin-left:0.2%;">
                                                        <p-button id="Update{{stackBarChartChannelData.id}}"
                                                            label="Update StackBarChart Channel"
                                                            styleClass="ui-button-success"
                                                            (click)="onUpdateStackBarChartChannel(stackBarChartChannelData)">
                                                        </p-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </table>
                    </div>
                </section>
                <section class="channelConfigSection">
                    <div class="col-lg-12 ConfigSectionDiv">Axis Configuration</div>
                    <div class="row col-lg-12">
                        <div class="col-md-1 giveMarginTop">X-Axis :</div>
                        <div class="col-md-6" *ngIf="showXAxisChannel">
                            Channel<br />
                            <p-dropdown name="chartChannelDropdown" [options]="channelsDropdownDataList"
                                [style]="{'width':'50%'}" [(ngModel)]="xaxisChannel" filter="true"
                                placeholder="Select Channel" [showClear]="true"
                                (onChange)="onXaxisChannelChange($event.value)">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="row col-lg-12">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 p-field-radiobutton giveExtraTopMargin">
                            <p-radioButton inputId="xAxisAutoFill" name="xAxisAutoFillGroup" [value]="false"
                                [(ngModel)]="templateTabChartConfigurationDetailsModel.XAxisAutoFill"
                                (click)="onAxisAutoFillCriteriaChange(templateTabChartConfigurationDetailsModel.XAxisAutoFill, 'x', xaxisChannel)">
                            </p-radioButton>
                            <label>&nbsp; Auto Fill</label>
                            &nbsp;&nbsp;<p-radioButton inputId="xAxisUserEntered" name="xAxisAutoFillGroup"
                                [value]="true" [(ngModel)]="templateTabChartConfigurationDetailsModel.XAxisAutoFill"
                                (click)="onAxisAutoFillCriteriaChange(templateTabChartConfigurationDetailsModel.XAxisAutoFill, 'x', xaxisChannel)">
                            </p-radioButton>
                            <label>&nbsp; User Entered</label>
                        </div>
                        <div class="col-md-1">
                            Min<br />
                            <input type="text" pInputText name="xminValue" class="inputText giveHeight"
                                placeholder="Min Value" [(ngModel)]="xAxisMin" />
                        </div>
                        <div class="col-md-1">
                            Max<br />
                            <input type="text" pInputText name="xmaxValue" class="inputText giveHeight"
                                placeholder="Max Value" [(ngModel)]="xAxisMax" />
                        </div>
                        <div class="col-md-1">
                            Interval<br />
                            <input type="text" pInputText name="xintervalValue" class="inputText giveHeight"
                                placeholder="Interval Value" [(ngModel)]="xAxisInterval" />
                        </div>
                        <div class="col-md-2">
                            Unit<br />
                            <p-dropdown name="xunitDropdown" [options]="axisUnitValues" [style]="{'width':'30%'}"
                                [(ngModel)]="templateTabChartConfigurationDetailsModel.XAxisUnits" filter="true"
                                placeholder="Unit Value" [showClear]="true"
                                (onChange)="onAxisUnitChange($event.value, 'x')">
                            </p-dropdown>
                        </div>
                        <div class="col-md-2">
                            Label<br />
                            <input type="text" pInputText name="xLabel" class="inputText giveHeight"
                                placeholder="X-Axis Label"
                                [(ngModel)]="templateTabChartConfigurationDetailsModel.XAxisLabel" />
                        </div>
                    </div>
                    <div class="row col-lg-12 giveMarginTop giveMarginBottom">
                        <div class="col-md-1 marginTop">Y-Axis :</div>
                        <div class="col-md-2 p-field-radiobutton giveExtraTopMargin">
                            <p-radioButton inputId="yAxisAutoFill" name="yAxisAutoFillGroup" [value]="false"
                                [(ngModel)]="templateTabChartConfigurationDetailsModel.YAxisAutoFill"
                                (click)="onAxisAutoFillCriteriaChange(templateTabChartConfigurationDetailsModel.YAxisAutoFill, 'y')">
                            </p-radioButton>
                            <label>&nbsp; Auto Fill</label>
                            &nbsp;&nbsp;<p-radioButton inputId="yAxisUserEntered" name="yAxisAutoFillGroup"
                                [value]="true" [(ngModel)]="templateTabChartConfigurationDetailsModel.YAxisAutoFill"
                                (click)="onAxisAutoFillCriteriaChange(templateTabChartConfigurationDetailsModel.YAxisAutoFill, 'y')">
                            </p-radioButton>
                            <label>&nbsp; User Entered</label>
                        </div>
                        <div class="col-md-1">
                            Min<br />
                            <input type="text" pInputText name="yminValue" class="inputWidth giveHeight"
                                placeholder="Min Value" [(ngModel)]="yAxisMin" />
                        </div>
                        <div class="col-md-1">
                            Max<br />
                            <input type="text" pInputText name="ymaxValue" class="inputText giveHeight"
                                placeholder="Max Value" [(ngModel)]="yAxisMax" />
                        </div>
                        <div class="col-md-1">
                            Interval<br />
                            <input type="text" pInputText name="yintervalValue" class="inputText giveHeight"
                                placeholder="Interval Value" [(ngModel)]="yAxisInterval" />
                        </div>
                        <div class="col-md-2">
                            Unit<br />
                            <p-dropdown name="yunitDropdown" [options]="yaxisUnitValue" [style]="{'width':'30%'}"
                                placeholder="Unit Value"
                                [(ngModel)]="templateTabChartConfigurationDetailsModel.YAxisUnits" filter="true"
                                [showClear]="true" (onChange)="onAxisUnitChange($event.value, 'y')">
                            </p-dropdown>
                        </div>
                        <div class="col-md-2">
                            Label<br />
                            <input type="text" pInputText name="yLabel" class="inputText giveHeight"
                                placeholder="Y-Axis Label"
                                [(ngModel)]="templateTabChartConfigurationDetailsModel.YAxisLabel" />
                        </div>
                    </div>
                </section>
                <section class="annotationConfigSection">
                    <div class="col-lg-12 ConfigSectionDiv">
                        Annotation Configuration
                        <p-button label="Add Annotation" class="floatRight" (click)="onShowChartAddAnnotation()"
                            styleClass="ui-button-info"></p-button>
                    </div>
                    <div *ngIf="showChartAnnotationConfiguration" class="row col-lg-12 marginTop giveMarginBottom">
                        <div class="col-md-3">
                            Text :<br />
                            <input type="text" pInputText name="chartAnnotationText"
                                class="giveHeight chartAnnotationText" placeholder="Annotation Text"
                                [(ngModel)]="chartAnnotationModel.AnnotationText" />
                        </div>
                        <div class="col-md-3 styleMarginLeft">
                            Select Style:<br />
                            <p-dropdown name="chartChannelStyleDropdown" [style]="{'width':'92%'}"
                                [options]="chartLineStyleDropdownDataList"
                                [(ngModel)]="chartAnnotationModel.AnnotationLineStyleId" filter="true"
                                placeholder="Select Style" [showClear]="true">
                            </p-dropdown>
                        </div>
                        <div class="col-md-3 thicknessDivMarginLeft">
                            Select Thickness :<br />
                            <p-dropdown name="chartChannelThicknessDropdown" [style]="{'width':'92%'}"
                                [options]="chartLineThicknessDropdownDataList"
                                [(ngModel)]="chartAnnotationModel.AnnotationLineThicknessId" filter="true"
                                placeholder="Select Thickness" [showClear]="true">
                            </p-dropdown>
                        </div>
                        <div class="col-md-3">
                            Select Color:<br />
                            <!--<input type="color" pInputText name="chartAnnotationColorCode" id="chartAnnotationColorCode"
                                class="giveHeight colorInputWidth"
                                [(ngModel)]="chartAnnotationModel.AnnotationLineColour" />-->
                            <chrome-wrapper [(color)]="chartAnnotationModel.AnnotationLineColour" ngDefaultControl
                                name="chartAnnotationColorCode" id="chartAnnotationColorCode"
                                class="giveHeight colorInputWidth"
                                [(ngModel)]="chartAnnotationModel.AnnotationLineColour"
                                (colorChange)="parentEventHandlerFunction($event, 'annotation')">
                            </chrome-wrapper>
                        </div>
                        <div class="row col-lg-12 giveMarginTop">
                            <div class="col-md-3">X-Axis :
                                <input type="text" pInputText name="xstart" placeholder="Start Coordinate"
                                    [(ngModel)]="chartAnnotationModel.AnnotationLineStartXCoOrdinate"
                                    class="xAxisInputWidth giveHeight" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" pInputText name="xend" placeholder="End Coordinate"
                                    [(ngModel)]="chartAnnotationModel.AnnotationLineEndXCoOrdinate"
                                    class="giveHeight inputWidth" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" pInputText name="xText" placeholder="Text"
                                    [(ngModel)]="chartAnnotationModel.AnnotationTextStartXCoOrdinate"
                                    class="giveHeight inputWidth" />
                            </div>
                        </div>
                        <div class=" row col-lg-12 giveMarginTop">
                            <div class=" col-md-3">Y-Axis :
                                <input type="text" pInputText name="ystart" placeholder="Start Coordinate"
                                    [(ngModel)]="chartAnnotationModel.AnnotationLineStartYCoOrdinate"
                                    class="xAxisInputWidth giveHeight" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" pInputText name="yend" placeholder="End Coordinate"
                                    [(ngModel)]="chartAnnotationModel.AnnotationLineEndYCoOrdinate"
                                    class="giveHeight inputWidth" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" pInputText name="yText" placeholder="Text"
                                    [(ngModel)]="chartAnnotationModel.AnnotationTextStartYCoOrdinate"
                                    class="giveHeight inputWidth" />
                            </div>
                            <div class="col-md-3">
                                <p-button label="Save ChartAnnotation" styleClass="ui-button-success"
                                    (click)="onAddNewChartAnnotation()">
                                </p-button>
                                <p-button label="Cancel" styleClass="ui-button-warning"
                                    (click)="onCancelChartAnnotation();">
                                </p-button>
                            </div>
                        </div>
                    </div>

                    <div id="chartAnnotationConfigurationData" *ngIf="showChartAnnotationConfigurationData">
                        <table class="tblFormat">
                            <ng-template ngFor let-chartAnnotationData [ngForOf]="chartAnnotationDataList">
                                <tr>
                                    <td class="tdFormat">
                                        <div class="fullWidth">
                                            <div class="tdDeleteIcon">
                                                <button pButton
                                                    (click)="onDeleteChartAnnotation(chartAnnotationData.id)"
                                                    icon="pi pi-times" title="Delete"></button>
                                            </div>
                                            <div class="tdContentWithoutIcon">
                                                <div class="row col-lg-12 giveMarginTop">
                                                    <div class="col-md-3">
                                                        Text :<br />
                                                        <input type="text" pInputText
                                                            name="chartAnnotationText{{chartAnnotationData.id}}"
                                                            class="giveHeight chartAnnotationText"
                                                            placeholder="Annotation Text"
                                                            [(ngModel)]="chartAnnotationData.annotationText" />
                                                    </div>
                                                    <div class="col-md-3 styleMarginLeft">
                                                        Select Style:<br />
                                                        <p-dropdown
                                                            name="chartChannelStyleDropdown{{chartAnnotationData.id}}"
                                                            [style]="{'margin-left':'0.5em', 'width':'95%'}"
                                                            [options]="chartLineStyleDropdownDataList"
                                                            [(ngModel)]="chartAnnotationData.annotationLineStyleId"
                                                            filter="true" placeholder="Select Style" [showClear]="true">
                                                        </p-dropdown>
                                                    </div>
                                                    <div class="col-md-3 thicknessDivMarginLeft">
                                                        Select Thickness :<br />
                                                        <p-dropdown
                                                            name="chartChannelThicknessDropdown{{chartAnnotationData.id}}"
                                                            [style]="{'margin-left':'0.9em', 'width':'95%'}"
                                                            [options]="chartLineThicknessDropdownDataList"
                                                            [(ngModel)]="chartAnnotationData.annotationLineThicknessId"
                                                            filter="true" placeholder="Select Thickness"
                                                            [showClear]="true">
                                                        </p-dropdown>
                                                    </div>
                                                    <div class="col-md-3">
                                                        Select Color:<br />
                                                        <!--<input type="color" pInputText
                                                            name="chartAnnotationColorCode{{chartAnnotationData.id}}"
                                                            id="chartAnnotationColorCode"
                                                            class="giveHeight colorInputWidth"
                                                            [(ngModel)]="chartAnnotationData.annotationLineColour" />-->
                                                        <chrome-wrapper
                                                            [(color)]="chartAnnotationData.annotationLineColour"
                                                            ngDefaultControl
                                                            name="chartAnnotationColorCode{{chartAnnotationData.id}}"
                                                            id="chartAnnotationColorCode"
                                                            class="giveHeight colorInputWidth"
                                                            [(ngModel)]="chartAnnotationData.annotationLineColour"
                                                            (colorChange)="parentEventHandlerFunction($event,'annotation')">
                                                        </chrome-wrapper>
                                                    </div>

                                                </div>
                                                <div class="row col-lg-12 giveMarginTop">
                                                    <div class="col-md-3">X-Axis :
                                                        <input type="text" pInputText
                                                            name="xstart{{chartAnnotationData.id}}"
                                                            placeholder="Start Coordinate"
                                                            [(ngModel)]="chartAnnotationData.annotationLineStartXCoOrdinate"
                                                            class="xAxisInputWidth giveHeight" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text" pInputText
                                                            name="xend{{chartAnnotationData.id}}"
                                                            placeholder="End Coordinate"
                                                            [(ngModel)]="chartAnnotationData.annotationLineEndXCoOrdinate"
                                                            class="giveHeight inputWidth" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text" pInputText
                                                            name="xText{{chartAnnotationData.id}}" placeholder="Text"
                                                            [(ngModel)]="chartAnnotationData.annotationTextStartXCoOrdinate"
                                                            class="giveHeight inputWidth" />
                                                    </div>
                                                </div>
                                                <div class=" row col-lg-12 giveMarginTop">
                                                    <div class=" col-md-3">Y-Axis :
                                                        <input type="text" pInputText
                                                            name="ystart{{chartAnnotationData.id}}"
                                                            placeholder="Start Coordinate"
                                                            [(ngModel)]="chartAnnotationData.annotationLineStartYCoOrdinate"
                                                            class="xAxisInputWidth giveHeight" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text" pInputText
                                                            name="yend{{chartAnnotationData.id}}"
                                                            placeholder="End Coordinate"
                                                            [(ngModel)]="chartAnnotationData.annotationLineEndYCoOrdinate"
                                                            class="giveHeight inputWidth" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text" pInputText
                                                            name="yText{{chartAnnotationData.id}}" placeholder="Text"
                                                            [(ngModel)]="chartAnnotationData.annotationTextStartYCoOrdinate"
                                                            class="giveHeight inputWidth" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p-button id="Update{{chartAnnotationData.id}}"
                                                            label="Update ChartAnnotation" class="inputWidth"
                                                            styleClass="ui-button-success"
                                                            (click)="onUpdateChartAnnotation(chartAnnotationData)">
                                                        </p-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </table>
                    </div>
                </section>
            </div>
            <footer>
                <div class="row col-md-12" id="finalSavebtn" *ngIf="showChartConfigurationDetailsSaveButton">
                    <p-button label="Save" class="floatRight" styleClass="ui-button-success"
                        (click)="onSubmitTabChartConfigurationDetails('save')"></p-button>
                    <p-button label="Save & Preview" icon="pi pi-search" iconPos="left" styleClass="ui-button-success"
                        (onClick)="onSubmitTabChartConfigurationDetails('preview')"></p-button>
                </div>
            </footer>
        </div>
    </p-dialog>
    <preview-tabChartConfiguration-modal [(isVisiblePreviewModal)]="showPreviewTabChartConfigurationDialog"
        [templateTabChartConfigId]="templateTabChartConfigId" [testId]="testId" [submatrixName]="submatrixName">
    </preview-tabChartConfiguration-modal>
</form>