.tblFormat {
  width:100%;
  border-collapse: separate;
  border-spacing: 15px;
}

.tdFormat {
border:2px solid lightblue;
background-color:lightgrey;
}
.fullWidth{
  width: 100%;
}

.tdDeleteIcon
{
  float: right;
  vertical-align:top;
  width:2%;
}

.tdContentWithoutIcon
{
  float: left;
  width:98%;
}

#tempTabChartConfigDialogId{
  width: 95%;
  border : 1px;
  height: 100%;
}
#chartConfigDialogDivId{
 border: 1px solid black;
 min-height: 20em;
}
.marginTop{
margin-top: 1%;
}
.marginBottom{
margin-bottom: 1%;
}
.giveMarginBottom{
  margin-bottom: 0.5%;
}
.giveMarginTop{
  margin-top:0.5%;
}
.giveColorInputWidth{
  width:95%;
}
.giveHeight{
height : 2.5em;
}
.inputWidth{
  width : 95%;
}
.inputText
{
  width : 98%;
}
.chartNameWidth{
  width: 95%;
}
.floatRight{
  float:right;
}
.colorInputWidth{
  width : 93%;
}
.channelConfigSection{
margin-bottom: 1%;
border: 1px solid rgb(151, 149, 149);
}
.annotationConfigSection{
margin-top: 1%;
border: 1px solid rgb(151, 149, 149);
}
.ConfigSectionDiv{
  background-color: darkcyan;
  color: white;
  height: 2.7em;
  font-weight:500;
  font-size: medium;
  margin-bottom: 1.5%;
}
.chartAnnotationText{
  width :94%;
}
.styleMarginLeft{
  margin-left:-0.5%;
}
.thicknessDivMarginLeft{
  margin-left:-0.6%;
}
.xAxisInputWidth{
  width : 79%;
}
#finalSavebtn{
  margin-left:0.1em;
  margin-top:1%;
  margin-bottom:1%;
}
.giveExtraTopMargin{
  margin-top: 1.5%;
}