<div id="main">
    <h4>Quicklook Templates</h4>
    <div id="divSection" style="border-style:solid; border-width:thin; border-top-color: rgb(73, 87, 102); border-color: rgb(219, 222, 224); border-top: outset; padding: 1em;">
      <section class="row">
        <div class="col-xl-6 float-left" style="margin-bottom: 0.5em;">
          <button class="btn btn-primary" type="submit" (click)="onNavigate();">Add Template</button>
        </div>
      <div class="col-xl-6 float-right">
          <p-dropdown name="statusDdl" (onChange)="changeGridByStatus($event.value.value)" class="float-right" [style]="{'minWidth':'250px'}" [options]="status" optionLabel="label" [showClear]="true"></p-dropdown>
      </div>
      </section>
      <section class="row" style="margin-right: 1px; margin-left: 0.1em;">
        <p-table [value]="displayData"  [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,15,20,25]" sortMode="multiple"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
          <ng-template pTemplate="header">
              <tr>
                  <th style="width: 85%;">Template Name</th>
                  <th style="width: 10%;">Active</th>
                  <th style="width: 5%;">Edit</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-template>
              <tr>
                  <td style="width: 85%;">{{template.name}}</td>
                  <td *ngIf="template.isDeleted; else tpl" style="width: 10%;">No</td>
                  <td style="width: 5%;text-align: center;"><i class="fa fa-edit" style="font-size: 24px; background-color:lightgrey; color: darkblue;"></i></td>
              </tr>
          </ng-template>
      </p-table>
      <ng-template #tpl><td>Yes</td></ng-template>
    </section>
    </div>
  </div>
