<p-toast styleClass="custom-toast" position="bottom-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

<div id="main">
  <h4>Quicklook Templates</h4>
  <div id="divSection">
    <section class="row">
      <div class="col-xl-6 float-left" style="margin-bottom: 0.5em;">
        <button class="btn btn-primary" type="submit" (click)="onNavigate();">Add Template</button>
      </div>
      <div class="col-xl-6 float-right">
        <p-dropdown name="statusDdl" (onChange)="changeGridByStatus($event.value.value)" class="float-right"
          [style]="{'minWidth':'250px'}" [options]="status" optionLabel="label" [showClear]="true"></p-dropdown>
      </div>
    </section>
    <section class="row" id="tblSection">
      <p-table [value]="displayData" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,15,20,25]"
        sortMode="multiple">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 30%;">Template Name</th>
            <th style="width: 15%;">Test Type</th>
            <th style="width: 35%;">Test Mode</th>
            <th style="width: 10%;">Active</th>
            <th style="width: 10%;">Action(s)</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-template>
          <tr>
            <td style="width: 30%;">{{template.name}}</td>
            <td style="width: 15%;">{{template.testType}}</td>
            <td style="width: 35%;">{{template.testModeNames}}</td>
            <td *ngIf="template.isDeleted; else tpl" style="width: 10%;">No</td>
            <td id="actionDiv">
              <div *ngIf="!template.isDeleted">
                <button pButton pRipple type="button" title="Edit" icon="fa fa-edit fa-lg"
                  class="p-button-rounded p-button-success editTemplateBtn"
                  (click)="onEditTemplate(template.id)"></button>
                &nbsp;<button pButton pRipple type="button" title="Delete" icon="fa fa-trash fa-lg"
                  class="p-button-rounded p-button-danger deleteTemplateBtn"
                  (click)="onDeleteTemplate(template.id)"></button>
              </div>
              <div *ngIf="template.isDeleted">
                <button pButton pRipple type="button" id="enableTemplateBtn" title="Enable"
                  icon="fa fa-check-circle fa-lg" class="p-button-rounded"
                  style="font-size: 15px; background-color:#ffffff; color: rgb(0, 139, 30);"
                  (click)="onEnableTemplate(template.id)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <ng-template #tpl>
        <td>Yes</td>
      </ng-template>
    </section>
  </div>
</div>