<div id="addTemplateDiv">
    <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText> 
        <label for="float-input" >Template Name</label>
    </span>
</div>
