/* body {
  font-family: "Lato", sans-serif;
  min-height:100%;
  margin: -8px;
} */

.sidebar {
  height: 100%;
  z-index: 1;
  width: 42px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e6e7e8;
  transition: 0.5s;
  overflow-x: hidden;
  margin-top:44px;
  white-space: nowrap;
  border-style: solid;
  border-color: rgb(134, 131, 132);
  border-width: 1px;
}
.sidebar i{
  margin-right: 20px;
  margin-left:-20px;
  font-size: small;
  min-width: 25px;
  text-align: center;
  color:rgb(65, 60, 60);
  display: inline-block;
}
.sidebar a {
    line-height: 1em;
    padding: 120px;
    height: 45px;
    width: 45px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color: #7c7979;
  display: block;
}

.sidebar a:hover {
  color: #3f3131;
}

main .sidebar {
  position: fixed;
  top: 0;
  right: 25px;
  font-size: 15px;
  margin-left: 30px;
}

#main, #addTemplateDiv {
  padding: 16px;
  margin-left: 55px;
  transition: margin-left 0.5s;
}
#header{
height: 45px;
width:100%;
color:red;
background-color: rgb(37, 36, 36);
display:flex;
position: fixed;
z-index: 100;
}

#mainDiv{
height: 80%;
}
.brand{
    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
    font-size: 25px;
    text-decoration: none !important;
    color:red;
    height: 35px;
    width: 150px;
    margin-top:0px;
    margin-left:25px;
}

.brandText{
    color: #fff;
    font-family: verdana;
    font-size: 10px;
    margin-top: 27px;
    margin-left: -110px;
    position: absolute;

}
.portalName{
   color:#888;
   font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
   font-size: 21px;
   font-weight: 490;
   margin-top:5px;
   box-sizing: border-box;
   margin-left: 190px;
   padding: 0px;
}
#openSideBar{
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(37, 36, 36);
  color: #d9dadb;
  border: none;
  margin-left:20px;
  margin-top:14px;
  border-right: 1px solid #27292d;
}
#brandDiv{
height:45px;
width:150px;
margin-top:0px;
margin-left:60px;
position:absolute;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 15px;
  }
}