<ng-container *ngIf="items$ | async as items">
    <div class="layout-breadcrumb" *ngIf="items.length > 0">
        <ul>
            <li>
                <a href="https://safetycenterportaldev.am.mds.honda.com" target="_blank">Home /</a>
            </li>
            <li>
                <a href="https://safetycenterportaldev.am.mds.honda.com/Admin/index" target="_blank"
                    style="font-size: medium;">Admin /</a>
            </li>
            <ng-template ngFor let-item let-last="last" [ngForOf]="items">
                <li>
                    <a [routerLink]="item.routerLink" [queryParams]="item.queryParams"
                        *ngIf="item.routerLink">{{ item.label }}</a>
                    <ng-container *ngIf="!item.routerLink">{{
                        item.label
                    }}</ng-container>
                </li>
                <li *ngIf="!last">/</li>
            </ng-template>
        </ul>

        <ng-container *ngIf="settings$ | async as settings">
            <div class="layout-breadcrumb-options" *ngIf="settings?.controls && settings?.controls.length > 0">
                <ng-template ngFor let-item let-last="last" [ngForOf]="settings.controls">
                    <a routerLink="{{ item.routerLink }}" title="{{ item.routerTitle }}">
                        <i class="material-icons">{{ item.icon }}</i>
                    </a>
                </ng-template>
            </div>
        </ng-container>
    </div>
</ng-container>