<p-dialog header="Tab Configuration Table Preview" id="previewTabConfigurationTableDialogId" (onHide)="cancelModal()"
    (onShow)="showModal()" [(visible)]="isVisiblePreviewModal" modal="true" [style]="{'width': '95%'}"
    [contentStyle]="{'overflow-y': 'hidden', 'overflow-x': 'hidden'}">
    <section class="row content">
        <!-- {{tabTableConfigDataPreview | json}} -->
        <div class="col-md-12" id="tabConfigurationPreviewTableDivId">
            <table id="tabConfigurationTableId">
                <ng-template ngFor let-tabTableconfigRowData [ngForOf]="tabTableConfigDataPreview">
                    <tr>
                        <ng-container *ngFor="let item of tabTableconfigRowData.columns;let i=index">
                            <td *ngIf="!item.isDeleted" id="td{{tabTableconfigRowData.rowId}}{{i}}"
                                colSpan="{{item.columnSpan}}" [attr.rowspan]="item.rowSpan"
                                [attr.width]="item.columnWidth+'%'" class="columnPosition">
                                <div *ngIf="item.isHeader">
                                    <b>{{item.columnHeader}}</b>
                                </div>
                                <div *ngIf="!item.isHeader">
                                    {{item.columnData}}
                                </div>
                            </td>
                        </ng-container>
                    </tr>
                </ng-template>
            </table>
        </div>
    </section>
</p-dialog>
<ngx-spinner size="default" type="ball-spin-clockwise">
    <p style="color: white">Generating Preview... </p>
</ngx-spinner>