
.layout-breadcrumb {
  background-color: #ffffff;

  ul {
    margin: 8px 0 0 0;
    padding: 0 0 0 20px;
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;
      vertical-align: top;


      &:nth-child(even) {
        font-size: 20px;
      }

      &:first-child(even) {

      }

      a {

      }
    }
  }

  .layout-breadcrumb-options {
    float: right;
    padding: 0px 20px 0 0;
    height: 100%;

    a {
      display: inline-block;
      width: 42px;
      height: 42px;
      line-height: 42px;
      text-align: center;


      &:hover {

      }

      i {
        line-height: inherit;
      }
    }
  }
}
.padding-2em {
  padding: 2em
}
